@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap%22");
body {
  background: rgb(32, 28, 28);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reloj {
  border: none;
  font-family: "Codystar", cursive;
  font-size: 50px;
  background: rgb(32, 28, 28);
  color: white;
  text-align: center;
  text-shadow: 0 0 5px rgba(0, 178, 255, 1), 0 0 10px rgba(0, 178, 255, 1),
    0 0 20px rgba(0, 178, 255, 1);
}

.container_reloj {
  border: 10px solid white;
  width: 50px;
  margin-top: 20%;
  padding: 1px;
}
.primero1 {
  border: 14px solid white;
  margin-top: 20%;
}

.container2 {
  border: 4px solid white;
  width: 100px;
}

.container3 {
  display: flex;
  justify-content: center;
  margin-left: 300px;
  margin-top: 50px;
  width: 50%;
  height: 300px;
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 0.4em;
  box-shadow: 0 0 5px rgba(0, 178, 255, 1), 0 0 10px rgba(0, 178, 255, 1),
    0 0 20px rgba(0, 178, 255, 1);
  border-radius: 20px;
}

.container3 > h2 {
  margin-right: 400px;
}

.agradecimiento > h1 {
  text-align: center;
  font-family: "Codystar", cursive;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}
